extends layouts/main.pug

block content 
  .container
    .jumbotron(style="padding-bottom:15px;")
      h1.display-4 Hello Ladies and Gentlemen
      p.lead
        | Let's tell about our customer segmentation. Our customer segmentation is consists of gold, silver and bronze grades.
      hr.my-4
      p
        | Bronze class customer transection records more than 1000 miles.Also bronze class customers are golden plane 
      p.lead
        a.btn.btn-danger.btn-lg(href='http://localhost:3000/customers', style="background-color:chocolate;", role='button') Go To Customers
    .col-lg-8
    table.table.table-hover
      thead.table(style="background-color:chocolate;")
        tr
          th(scope='col') Customer Name
          th(scope='col') Passport Number 
          th(scope='col') E-mail
          th(scope='col') Adress
          th(scope='col') Country Code
          th(scope='col') FFC
          th(scope='col') Transection Record
          th(scope='col') Rosette
      tbody(style="background-color:beige;")
        each ffcb in ffcbronze
          tr
            td #{ffcb.customer_name}
            td #{ffcb.passport_no}
            td #{ffcb.email}
            td #{ffcb.adress}
            td #{ffcb.country}
            td #{ffcb.isffc}
            td #{ffcb.transaction_record} 
            td
              img(src='https://i.resimyukle.xyz/W4BPQI.jpg',width="50",  height="50")